%div.index
  %div.hero-unit
    <img style="float:right" src="/images/node_logo.png" width="200">
    %h2 Let's node!. A blog about node.js and express.js
    %p node.js: Evented I/O for 
      %a{href: "http://code.google.com/p/v8/"} &nbsp;V8 JavaScript

   %ul.articles
     - var first=true
     :each article in articles.slice(0,20)
       %li
          %h5 
            %span.date #{formatDate(article.date, "%Y.%m.%d")} 
            %a{href: "/" + article.name} #{article.title}