!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")}Let's Node.js
    %meta(name="description" content="Let's node. A blog about NodeJS.")
    %link(href="/bootstrap.min.css" rel="stylesheet")
    %link(href="/bootstrap.extra.css" rel="stylesheet")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	<link href="/SyntaxHighlighter/shCore.css" rel="stylesheet" type="text/css" />
	<link href="/SyntaxHighlighter/shThemeDefault.css" rel="stylesheet" type="text/css" />
	<script src="/SyntaxHighlighter/xregexp-min.js" type="text/javascript"></script>
	<script src="/SyntaxHighlighter/shCore.js" type="text/javascript"></script>
	<script src="/SyntaxHighlighter/shBrushJScript.js" type="text/javascript"></script>
	
  %body
   .container-fluid
     = content
       %footer
         %p &copy; 
           %a{href:"http://www.twitter.com/ivanloire"}> Iván Loire
           | This blog is based on 
           %a{href:"http://howtonode.org/"}> howtonode.org
           | CSS styles created with
           %a{href:"http://twitter.github.com/bootstrap/"}> Twitter BootStrap CSS library | 
           %a{href:"http://feeds.feedburner.com/letsnode"}> RSS | 
 
           %a{href: "http://www.nodejs.org"} Visit node.js official web site
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :script
      try {
      var pageTracker = _gat._getTracker("UA-300651-33");
      pageTracker._trackPageview();
      } catch(err) {}
